
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h1>報告分派系統</h1>


@using (Html.BeginForm())
{
    <p>檢查流水號 : <input type="text" name="name" value="" />
    <input type="submit" name="name" value="查詢" />
    </p>
}

